<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% extends 'base.html' %} {% load staticfiles %} {% load bootstrap %}


        {% block content %}
            <br><br><br>
            <div class="main main-raised">
                <br>
                <h2>
                    <center style="font-family: 'Pacifico'">Logout</center>
                </h2>

                <center><h3>It is really sad to see you go :(</h3></center>
                <hr class="colored">


                <br><br><br>
                <div class="row">

                </div>
            </div>

        {% endblock content %}

    </title>
</head>
<body>

</body>
</html>