{% extends 'base.html' %} {% load staticfiles %} {% load bootstrap %}
{% block title %} Discover Movies {% endblock title %}

{% block content %}
    <br><br><br>
    <div class="main main-raised">
        <br>
        <h2>
            <center style="font-family: 'Pacifico'">Discover Movies</center>
        </h2>

        <center><h3>Hello, up for some entertainment? Here are some suggested Movies for you based on your traits! Do
            let us know if you enjoy
            them!</h3></center>
        <hr class="colored">


        <br><br><br>
        <div class="row">

            {% for movie in movies %}

                <div class="col-md-3">

                    <div class="main main-raised">
                        <br>
                        <center>
                            <img src="{{ movie.cover }}" height="250px"
                                 width="250px">

                            <h3><b>{{ movie.title }}</b></h3>
                        </center>
                        <hr>
                        <h4>
                           &nbsp; <b></b>Genre: {{ movie.genres }}<br><br>
                          &nbsp;  Tagline: {{ movie.tagline }}<br><br>

                          &nbsp;  Average IMDb Rating: {{ movie.vote_average }}<br><br>
                        </h4>

                    </div>
                    <br><br><br><br>
                </div>


            {% endfor %}
        </div>
    </div>

{% endblock content %}

