{% extends 'base.html' %} {% load staticfiles %} {% load bootstrap %}
{% block title %} Discover Movies {% endblock title %}

{% block content %}
    <br><br><br>
    <div class="main main-raised">
        <br>
        <h2>
            <center style="font-family: 'Pacifico'">Discover Movies</center>
        </h2>

        <center><h3>Hello, up for some entertainment? Here are some suggested Movies for you based on your traits! Do
            let us know if you enjoy
            them!</h3></center>
        <hr class="colored">


        <br><br><br>
        <div class="row">
            <div class="col-md-3">

                <div class="main main-raised">
                    <br>
                    <center>
                        <img src="https://i.scdn.co/image/2f91c3cace3c5a6a48f3d0e2fd21364d4911b332" height="250px"
                             width="250px">

                        <h3><b>Iron Maiden</b></h3>
                    </center>
                    <hr>
                    Genre: ABC

                </div>
            </div>
            <div class="col-md-3">

                <div class="main main-raised">
                    <br>
                    <center>
                        <img src="https://i.scdn.co/image/7d0ec00334f74076dbfc12902d70b74557c4cefd" height="250px"
                             width="250px">

                        <h3><b>Iron Maiden</b></h3>
                    </center>
                    <hr>
                    Genre: ABC

                </div>
            </div>
            <div class="col-md-3">

                <div class="main main-raised">
                    <br>
                    <center>
                        <img src="https://i.scdn.co/image/eb266625dab075341e8c4378a177a27370f91903" height="250px"
                             width="250px">

                        <h3><b>Iron Maiden</b></h3>
                    </center>
                    <hr>
                    Genre: ABC

                </div>
            </div>
            <div class="col-md-3">

                <div class="main main-raised">
                    <br>
                    <center>
                        <img src="https://i.scdn.co/image/eb266625dab075341e8c4378a177a27370f91903" height="250px"
                             width="250px">

                        <h3><b>Iron Maiden</b></h3>
                    </center>
                    <hr>
                    Genre: ABC

                </div>
            </div>
        </div>
    </div>

{% endblock content %}

