{% extends 'base.html' %} {% load staticfiles %} {% load bootstrap %}
{% block title %} Discover Music {% endblock title %}

{% block content %}
    <br><br><br>
    <div class="main main-raised">
        <br>
        <h2>
            <center style="font-family: 'Pacifico'">Discover Music</center>
        </h2>

        <center><h3>Hello, up for some entertainment? Here are some suggested Songs for you based on your traits! Do
            let us know if you enjoy them!</h3></center>
        <hr class="colored">


        <br><br><br>
        <div class="row">

            {% for song in music %}

                <div class="col-md-3">

                    <div class="main main-raised">
                        <br>
                        <center>
                              <iframe src="{{ song.link }}"
   width="270" height="250" frameborder="0" allowfullscreen></iframe>

                            <h3><b>{{ song.artist }} - {{ song.name }}</b></h3>
                        </center>
                        <hr>

                    </div>
                    <br><br><br><br>
                </div>


            {% endfor %}
        </div>
    </div>

{% endblock content %}

